@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<form method="POST">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Contact.Name"></label>
        <input asp-for="Contact.Name">
    </div>

    <div class="form-group">
        <label asp-for="Contact.Email"></label>
        <input asp-for="Contact.Email">
    </div>

    <div class="form-group">
        <label asp-for="Contact.Note"></label>
        <textarea asp-for="Contact.Note"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

